body {
  margin: 0;
  font-family:'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased; 
 -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color:#fff;
} 


body, html,#root {
  /* height: 100%;
  overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  box-sizing:border-box;
  touch-action: manipulation;
}

*:focus {
  outline: none;
}