.Background{
    /* background: center / cover no-repeat url("/images/underwater.jpg"),
                center repeat-x url('/images/rock.svg') 1; */
    height:100%;
    background-image: url('/images/rock.svg') ,url('/images/underwater.jpg');
    background-position: center, center;
  background-repeat: repeat-x, no-repeat;
  background-size: 30px auto,cover;
}
/* .Divider{
  background-image: url('/images/rock.svg');
  height: 1vh;
  position: absolute;
  content: " ";
  border: 1px solid #FFF;
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  width: 100%;
  top: 47vh;
} */